<body>

    <div id="comprador">

        <form class="card">

            <div class="card-header">
                <img class="logo-fisher" src="assets/icons/fisher.png"
                            style="height: 5em;">
                <h2 class="text-center">Cadastrar</h2>

            </div>

            <div class="card-content">

                <div class="card-content-area">

                    <span>Nome</span>
                    <input type="text" id="usuario"  class="input-usuario" autocomplete="off">

                </div>

                <div class="card-content-area">
                    <span>Região</span>
                    <input type="text" id="regiao" autocomplete="off"   class="input-senha">

                </div>
                <div class="card-content-area">
                    <span>Telefone</span>
                    <input type="number" id="numero" autocomplete="off"   class="input-senha">

                </div>
                <div class="card-content-area">
                    <span>Peixes</span>
                    <input type="text" id="password" autocomplete="off"   class="input-senha">

                </div>

            </div>

            <div class="card-footer">

                <input type="submit" value="Cadastrar" class="submit">

                <a class="voltar-home">Voltar para página inicial?</a>
                <a href="/home" class="clique-aqui">Clique aqui</a>


            </div>

        </form>

    </div>

</body>