<body>

    <div id="login">

        <form class="card">

            <div class="card-header">
                <img class="logo-fisher" src="assets/icons/fisher.png"
                            style="height: 5em;">
                <h2 class="text-center">Cadastrar</h2>

            </div>

            <div class="card-content">

                <div class="card-content-area">


                    <input type="text" id="usuario" placeholder="Nome.." class="input-usuario" autocomplete="off">

                </div>

                <div class="card-content-area">

                    <input type="text" id="regiao" autocomplete="off" placeholder="Região.."  class="input-senha">

                </div>
                <div class="card-content-area">

                    <input type="number" id="numero" autocomplete="off" placeholder="(00)00000-0000.."  class="input-senha">

                </div>
                <div class="card-content-area">

                    <input type="text" id="password" autocomplete="off" placeholder="Peixes.."  class="input-senha">

                </div>

            </div>

            <div class="card-footer">

                <input type="submit" value="Cadastrar" class="submit">

                <a class="voltar-home">Voltar para página inicial?</a>
                <a href="/home" class="clique-aqui">Clique aqui</a>


            </div>

        </form>

    </div>

</body>