.btn-outline-primary {
    border-color: white;
    color: white;   


} 
.btn-outline-primary:hover 
{

    background-color: #B4DAE2; color: white;

}
.btn-outline-primary:active {
    background-color: #B4DAE2; color: white;
    border: 1px solid #fff;
}

.nav-bar{
    box-shadow: 2px 1px 10px rgb(90, 90, 90);
}

.search:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;

}

.search{
    font-weight: bold !important;
}








@media screen and (MIN-width: 800px) {

    .search{
        width: 40vw !important;
        margin-left: 0vw !important;
        height: 50px !important;
        margin-top: 5px !important; 
        font-weight: bold !important;
        
    }

    
    ul{
        width: 100% !important;
    }
}



@media screen and (MIN-width: 600px) {

    ul{
        width: 100% !important;
    }

    .search{
        width: 30vw;
        margin-left: 0vw;
        height: 50px;
        margin-top: 5px; 
        font-weight: bold;
        
    }

    .search:focus{
        box-shadow: 0 0 0 0;
        border: 0 none;
        outline: 0;
    }

    .logo-peixe{
        height: 60px !important;
        margin-left: 10px;
    }

    .lupa-search{
        height: 50px;
        width: 60px;
        margin-top: 5px;

    
    }

    .btn-outline-primary{
        border-color: white;
         color: white;  
         margin-left: 20vw !important;
         height: 40px;
         margin-top: 10px;
         float: right;
        

    }
    .btn-outline-primary:hover {
        background-color: #B4DAE2; color: white;

    }

  }



