<nav class="navbar navbar-expand-lg nav-bar" style="background-color: #c2dee4; ">
    <div class="container-fluid">
        <div style="display: flex; width: 100%; ">
            <ul class="navbar-nav me-auto mb-1 " style="min-width: max-content;">
                <li class="nav-item">
                    <a class="navbar-brand" [routerLink]="['/home']"><img class="logo-peixe" src="assets/icons/fish.png"
                            style="height: 1.5em;"></a>
                </li>
            </ul>
            <ul class="navbar-nav mb-1">
                <!-- <form class="d-flex form-search" role="search">
                    <input class="form-control search me-1 " type="search" placeholder="Pesquise por produtos.." aria-label="Search">
                    <button class="btn btn-outline-light lupa-search" type="submit"><img src="assets/icons/search.svg"
                            style="height: 1em;"></button>
                </form> -->
            </ul>
            <ul class="navbar-nav me-auto mb-1 login">
                <li class="nav-item" *ngIf="token!='admin'">
                    <button class="btn btn-outline-primary"  [routerLink]="['/login']" type="submit"
                        style="margin-left: 10px;"><b>Login</b></button>
                </li>
                <li class="nav-item" *ngIf="token=='admin'">
                    <span class="btn btn-outline-primary" (click)="hehe()"
                        style="margin-left: 10px;"><b>Deslogar</b></span>
                </li>
            </ul>
        </div>
    </div>
</nav>