.btn-outline-primary {
    border-color: white;
    color: white;  
} 
.btn-outline-primary:hover 
{
    background-color: #B4DAE2; color: white;
}

.nav-bar{
    box-shadow: 2px 1px 10px rgb(90, 90, 90);
}

.search:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}


@media screen and (MIN-width: 600px) {
    .search{
        width: 50VW;
        margin-left: 20vw;
        height: 5vh;
        margin-top: 5px;
        
    }

    .search:focus{
        box-shadow: 0 0 0 0;
        border: 0 none;
        outline: 0;
    }

    .logo-peixe{
        height: 6vh !important;
        margin-left: 10px;
    }

    .lupa-search{
        height: 5vh;
        width: 3vw;
        margin-top: 5px;
    }

    .btn-outline-primary{
        border-color: white;
         color: white;  
         margin-left: 10vw !important;
         height: 4vh;
         margin-top: 10px;
         position: fixed;
    }
    .btn-outline-primary:hover {background-color: #B4DAE2; color: white;}

  }