<app-nav></app-nav>
<div style="margin-top: 3vh;">
    
    <form class="d-flex form-search" role="search" style="margin-left: 1vw; margin-bottom: 4vh;">    
        <input matInput [(ngModel)]="search" person.data="persons" person.searchKeyword="keyword" class="form-control search me-1 " 
        type="search" placeholder="Pesquise por produtos.." aria-label="Search" name="search">
    </form>

    <div class="buttons" style="display: flex; margin-bottom: 2vh;" *ngIf="token=='admin'">
        <a href="/cadastrar/pescador" style="text-decoration: none;" class="addBut">
            <a style="color: white; font-size: 13px; text-decoration: none; font-weight: bold;">+ Pescador</a>
        </a>
    </div>

    <br>
    <div class="nome-grupo" *ngIf="search != ''" style="margin: 1vw;"><h3> <b> Resultado da pesquisa: {{search}} </b></h3></div>
    <br>

    <h2><img src="assets/icons/fisher.png" style="height: 4em;"><b>Colônia de Pescadores de Pontal do Paraná</b></h2>

    <div class="filtred-cards" *ngFor="let grup of groups">
        <div style="margin-top: 3vh; margin-left: 3vw; margin-bottom: 3vh;" class="key-grup" *ngIf="search === ''">
            <h3><b>{{grup.key}}</b></h3>
        </div>

        <div style="display:flex; flex-wrap: wrap;" class="cards">
            
            <div class="card" style="width: 12.5rem; height: 12.5rem;"
                *ngFor="let person of grup.values | filter: search: field.toLowerCase()">

                <div class="card-body">
                    <h4 class="card-title"><b>{{person.name}}</b></h4>
                    <h5 class="card-subtitle mb-2 text-muted">{{grup.key}}</h5>
                    <p class="card-text">{{person.fishes}}</p>
                    <a href="{{goToWpp(person.phoneNumber)}}" target="_blank"
                        style="float: right; height: 2.5em; margin-top: 4vh;"><img src="assets/icons/wpp.png"
                            style="height: 2.5em;"></a>
                    <button type="button" class="btn btn-outline-warning btn-editar" routerLink="/editar/pescador/{{person.id}}"
                         style="float: left !important; margin-bottom: 0 !important; margin-top: 4vh !important;"><b>Editar</b></button>
                </div>
            </div>
        </div>

    </div>
    <!-- Footer -->
<footer class="text-center text-white" style="background-color: #B4DAE2; margin-top: 10vh; bottom: 0;">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: CTA -->
      <section class="">
        <p class="d-flex justify-content-center align-items-center">
          <span class="me-3" style="color: #53595a"><b>Funcionamento das 13:30 as 17:00</b></span>
        </p>
      </section>
      <!-- Section: CTA -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); color: #53595a">
        <b>Rua sereia S/N, Shangri-lá -</b>
      <a class="text-white"><b style="color: #53595a">(41)93500-9507</b></a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->