<body>

    <div id="login">

        <form class="card">

            <div class="card-header">
                <img class="logo-peixe" src="assets/icons/fish.png"
                            style="height: 3em;">
                <h2 class="text-center">Entrar</h2>

            </div>

            <div class="card-content">

                <div class="card-content-area">


                    <input type="text" id="usuario" placeholder="Usuário.." class="input-usuario" autocomplete="off">

                </div>

                <div class="card-content-area">

                    <input type="password" id="password" autocomplete="off" placeholder="Senha.."  class="input-senha">

                </div>

            </div>

            <div class="card-footer">

                <input type="submit" value="Entrar" class="submit">

                <a href="#" class="recuperar_senha">Esqueceu a senha?</a>

            </div>

        </form>

    </div>

</body>