<body>

    <div id="login">

        <form class="card">

            <div class="card-header">
                <img class="logo-peixe" src="assets/icons/fish.png"
                            style="height: 3em;">
                <h2 class="text-center" style="font-weight: bold;">Entrar</h2>

            </div>

            <div class="card-content">

                <div class="card-content-area">

                    <span>Usuário</span>
                    <input type="text" id="usuario" class="input-usuario" autocomplete="off" name="name" [(ngModel)]="user.name">
               

                </div>

                <div class="card-content-area">
                    <span>Senha</span>
                    <input type="password" id="password" autocomplete="off"  class="input-senha" name="pass" [(ngModel)]="user.pass" >
                </div>
            </div>

            <div class="card-content-area" style="text-align: center;">
                <b style="color: rgb(179, 21, 21);" *ngIf="error">Usuário e/ou senha errados !</b>
            </div>

            <div class="card-footer">

                <span class="submit" (click)="entrar()">Entrar</span>

                <a class="recuperar_senha">Entrar sem registro ?</a>
                <a (click)="entrarSemLogin()" class="clique">Clique aqui</a>

            </div>

        </form>

    </div>

</body>